.footer{
    background-color: #2b3445;
    padding-top: 48px;
}

/* --------------------------------------------------------top footer(features)------------------------------------------------------------------*/

.footerTop{
display: flex;
align-items: center;
justify-content:center;
padding-bottom: 16px;
/* gap: 20px; */
}
.feature{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    padding: 10px 30px;
}
.featureContent{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 16px;
}
.footerTop svg{
    color: #fe696a;
}
.featureHeading{
color: white;
font-size: 16px;
margin-bottom: 4px;
font-weight: 600;
}
.featurePara{
color: white;
font-size: 13px;
opacity: .5;
margin: 0;
}

.hrLight{
border: 1px solid rgba(255,255,255,.75);
margin: 0px 150px 48px 150px;
border-top: 1px solid;
}
/* -------------------------------------------------------------------------bottom footer-------------------------------------------------------*/
.footerBtm{
 display: flex;
 justify-content:space-between;
 margin:0px 150px
}
.logo{
    color: white;
    width: 200px;
    /* height: 38px; */
    margin-bottom: 24px;
}
.about{
    display: flex;
    padding: 0;
    list-style: none;
    /* color: rgba(255,255,255,.65);
    font-size: 14px; */
}
.about a{
    color: rgba(255,255,255,.65) !important;
    font-size: 14px;
    text-decoration: none;
}

.btmLeft{
display: flex;
flex-direction: column;
align-items:flex-start;
justify-content: center;
margin-bottom: 24px;
}
.btmRight{
 display: flex;
 flex-direction: column;
 align-items: flex-end;
}
.socialIcons{
    display: flex;
    gap: 5px;
    margin-bottom: 16px;
}
.socialIcons div{
    color: white;
    width: 36px;
    height: 36px;
    background-color: rgba(255,255,255,.08);
    cursor: pointer;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.cardImg{
    height: 28px;
    width: 187px;
}

.copyRight{
    font-size: 12px;
    padding-bottom: 24px;
    color:white;
    opacity: 0.5;
    margin-left: 150px;
}
