
/* top header */

.logo {
    height: 36px;
    margin: 4px;
}

.headerTop {
    padding: 12px 118px 12px 118px;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    /* background-color: white !important; */
}

.searchBar{
    width: 700px;
    height: 44px;
}
.searchBar:focus{
    border-color: #fe696a;
    box-shadow: 0 0 8px 0 #fe696a;
    /* box-shadow: none; */
}
.searchBtn{
    position: absolute;
    margin-left: -55px;
    border: none;
}
.searchIcon{
    display: flex;
    align-items: center;
}

.rightHeader {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* wishlist  */
.hint {
    position: absolute;
    top: 0;
    padding-bottom: 3px;
    font-size: 12px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.5;
    transition-timing-function: ease-in-out;
}

.headerSvg {
    color: #4b566b;
    cursor: pointer;
}
.wishlistbdg{
    position:absolute;
    top:17px;
    margin-left: 16px;
    border-radius: 100%;
    background-color: #fe696a!important;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login, .cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    /* border: 1px solid #4b566b;
    padding: 6px 12px 6px 12px;
    border-radius: 10px; */
}

.signInTitle {
    margin: 0px;
    padding: 0px;
}
.signInTitle p{
    font-size: 11.2px;
    color: #4b566b;
    margin:0px;
}
.signInTitle h6{
    font-size: 14px;
    color: #4b566b;
    margin:0px;
}

.cartIcon{
    padding : 14px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;

}

/* cart count */
.hbdg{
    position:absolute;
    top:10px;
    margin-left: -15px;
    border-radius: 100%;
    background-color: #fe696a!important;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2px; */
    /* left:6px; */
}
.cartTitle p{
    font-size: 11.2px;
    color: #4b566b;
    margin:0px;
}
.cartTitle h6{
    font-size: 14px;
    color: #4b566b;
    margin:0px;
}

/* bottom header */
.headerbtm{
    padding: 12px 118px 12px 118px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 78px;
    justify-content: space-evenly;
    color: #4b566b;
    
}
.category{
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
    color: #4b566b !important;
}
.category:hover{
    color: #fe696a !important;
}