

/* remove arrow of tooltip in header wishlist */
.tooltip-arrow {
  display: none !important;
}

body,
html {
    font-family: Rubik, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}
